.block_course_list_advanced .footer {
    margin-top: 5px;
}

.block_course_list_advanced .content li {
    margin-bottom: .3em;
}

.course_list_advanced{
    //font-weight: bold;
}

.course_list_advanced.additionalInformation{
    color: blue;
}
